.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.entries{
   width: 97%; 
   position: relative;
   margin-bottom: 8vw;
   margin-left: 1vw;
   padding: 3vw 3vw 3vw 3vw;
   box-shadow: 0px 0px 15px #FF5E0E;
   border-radius: 4vw;
}
.entries:first-child{
    margin-top: 3vw;
}
.entries:last-child{
    margin-bottom: 3vw;
}

.formdivs{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2vw;
}
.formdivs:nth-child(4){
    margin-bottom: 0vw;
}

.divp,
.fields{
    font-size:4vw;
    font-weight:500;
    font-family: 'Roboto', sans-serif;
    color: #FF5E0E;
}

.fields{
    border: 1px solid #FF5E0E;
    padding: 7px 7px 7px 7px;
}

#divp1{
    margin-right: 22vw;
}
#divp2{
    margin-right: 9.3vw;
}
#divp3{
    margin-right: 3vw;
}
#divp4{
    margin-right: 14vw;
}