.entries{
   width: 100%; 
   position: relative;
   margin-bottom: 8vw;
   padding: 15px 15px 15px 15px;
   box-shadow: 0px 0px 10px #FF5E0E;
}

.formdivs{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5vw;
}

.divp,
.fields{
    font-size:4vw;
    font-family: 'Roboto', sans-serif;
}
